# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/analyze

# testing
/coverage
/cypress/screenshots

# production
/build
/dist
/archive
/.next
public/sitemap.xml

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.now
.vercel