.container {
  width: 60rem;
  max-width: calc(100vw - 2em);
  margin: 0 auto 3em;
  color: #333;
}
.container .intro {
  font-family: sans-serif;
  font-size: 1.2rem;
  margin: 1em;
}
.container .desg {
  margin-top: -1.5em;
  margin-bottom: 2em;
}
.container h1 {
  text-align: center;
}
.container ul {
  margin-bottom: 1em;
}
.container li {
  margin-bottom: 0.25em;
}
.container .text {
  width: 25rem;
}
.container a {
  text-decoration: underline;
  font-weight: bold;
}
.container section {
  position: relative;
  margin-bottom: 3em;
  max-width: calc(100vw - 2em);
}

.fullpage {
  min-height: 100vh;
}

.cols {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero .cols {
  padding-bottom: 5rem;
}

.hero {
  position: relative;
}
.hero .txt {
  opacity: 0;
}
.hero .loaded {
  -webkit-animation: 0.35s ease-out 0s 1 slideInFromLeft;
          animation: 0.35s ease-out 0s 1 slideInFromLeft;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.hero .name {
  font-weight: 800;
  margin-top: -0.7em;
  font-size: 4rem;
}
.hero .name span {
  font-size: 4rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#fa0aff), to(#0e0aff));
  background: linear-gradient(180deg, #fa0aff 0%, #0e0aff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.hero .desgGrp {
  font-size: 1.25rem;
  margin-left: 1.5em;
  color: #444;
}
.hero .heroArt {
  max-width: calc(100vw - 3rem);
  max-height: 100vw;
  margin: -4rem 0 2rem;
}

.ringArt {
  -webkit-transform-origin: 50% 55%;
          transform-origin: 50% 55%;
  -webkit-animation: spin 30s linear infinite;
          animation: spin 30s linear infinite;
}

.desg {
  font-family: "Fira Code", monospace;
}

.blueLink {
  color: #008ef4;
}

.highlight {
  background: rgba(210, 145, 247, 0.6784313725);
  position: relative;
}

.scroll {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  bottom: 2rem;
  text-align: center;
}

.box {
  border: 3px solid #000000;
  padding: 1em;
  margin: 1em 0.5em;
  position: relative;
  font-family: "PT Serif", sans-serif;
}
.box h4 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.box p {
  margin: 0;
}
.box::before {
  z-index: -1;
  border: 3px solid rgb(187, 187, 255);
  content: "";
  position: absolute;
  left: -6px;
  bottom: -6px;
  height: 100%;
  width: 100%;
}

.pfp {
  width: 25rem;
  margin: 1em auto;
}

.stack {
  grid-area: stack;
}
.stack .stackelements p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.25em 0.5em;
  margin: 0.25em 0.5em;
  background: #efefef;
  font-weight: bold;
  border-radius: 1rem;
}

.testimonials {
  grid-area: testimonials;
  font-family: "Montserrat", sans-serif;
}
.testimonials p {
  font-style: italic;
}

.emailLine {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyBtn {
  margin-left: 0.5em;
}

.artGroupContainer {
  height: 25rem;
  width: 25rem;
}

#artGroup1Ball {
  -webkit-animation: bounce ease-in 0.5s infinite alternate;
          animation: bounce ease-in 0.5s infinite alternate;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  fill: #404040;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (min-width: 800px) {
  .container section .cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .container .hero .cols {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .container .hero .txt {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .container .hero .heroArt {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}/*# sourceMappingURL=about.module.css.map */