.container {
  color: #222;
  width: 100vw;
  padding: 0 0 3em;
  position: relative;
  overflow-x: hidden;
}
.container .img {
  height: 28rem;
  width: calc(100vw - 3em);
  max-height: 100vh;
  max-width: calc(100vw - 2em);
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 0.25em;
}
.container > div {
  width: 60rem;
  max-width: calc(100vw - 2em);
  margin: 0 auto;
}
.container .landing {
  font-size: 1.5rem;
  text-transform: uppercase;
  position: relative;
  background: url("/img/portfolio/air3x3/hero.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  margin-top: -3.6em;
  font-family: "Montserrat", sans-serif;
}
.container .landing h1 {
  position: absolute;
  bottom: 0em;
  left: 0.5em;
  width: 20rem;
}
.container .landing h1 span {
  display: block;
  text-transform: none;
  color: #dd700c;
  font-size: 1.2rem;
}
.container h2 {
  text-transform: uppercase;
  color: #444;
  font-size: 1.5rem;
  text-align: center;
}
.container h3 {
  font-size: 1.25rem;
  text-align: center;
}
.container .features {
  width: 50rem;
  max-width: calc(100vw - 2em);
  margin: 0 auto;
}
.container .features .feature {
  margin-bottom: 1em;
  padding: 0.55em;
}
@media screen and (min-width: 750px) {
  .container .landing h1 {
    bottom: 3em;
    font-size: 3.5rem;
  }
  .container .landing h1 span {
    font-size: 1.6rem;
  }
  .container .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
    margin: 0 0 3em;
    height: 20rem;
    width: 50rem;
    max-width: calc(100vw - 1em);
  }
  .container .feature h3 {
    -webkit-box-flex: 0.9;
        -ms-flex: 0.9 1;
            flex: 0.9 1;
    margin: 0 1em;
  }
  .container .feature .img {
    height: 90%;
    width: 30rem;
  }
  .container .feature:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media screen and (min-width: 800px) {
  .container .landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.imgContainer {
  position: relative;
  width: calc(100% - 3em);
  height: calc(100% - 3em);
  min-width: 15rem;
}

.firebaseVsAws {
  width: 22rem;
  height: 22rem;
}

.techStack > div {
  min-height: 15rem;
  margin: 3em 0;
  border-bottom: 1px solid #dedede;
}

.text {
  margin-bottom: 1em;
}

.col2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  min-height: 60rem;
  place-items: center;
}
.col2 .imgContainer {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  min-height: 10rem;
}
.col2 .text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media screen and (min-width: 780px) {
  .col2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col2 .imgContainer {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  .col2 .text {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}/*# sourceMappingURL=air3x3.module.css.map */