.container {
  color: #222;
  width: 100vw;
  padding: 0 0 3em;
  position: relative;
  overflow-x: hidden;
  background: #fcf4f5;
}

.container .firstSection {
  max-width: 60rem;
  margin: 0 auto;
}

.container .firstSection h1,
.container .firstSection p {
  text-align: center;
}

.container > section {
  max-width: calc(100vw - 2em);
  width: 60rem;
  margin: 0 auto;
  padding: 2em 0 0;
}

.container > section li {
  margin-bottom: 0.5em;
}

.container h1 {
  color: #3f4d67;
}

.container .internalNavList {
  list-style: none;
  font-size: 1.5rem;
}

.container .internalNavList li {
  padding: 0.5em;
}

.container .heroContainer {
  margin: 2em auto 0;
  position: relative;
  height: 7rem;
  width: 7rem;
}

.container h2 {
  text-transform: uppercase;
  color: #444;
  font-size: 1.5rem;
  text-align: center;
}

.container h3 {
  font-size: 1.25rem;
  text-align: center;
}

.container .features {
  width: 50rem;
  max-width: calc(100vw - 2em);
  margin: 0 auto;
}

.container .features li {
  margin: 0 0 1em;
}

.container .features .feature {
  margin-bottom: 3em;
  padding: 0.55em;
}

@media screen and (min-width: 750px) {
  .container .landing h1 {
    bottom: 3em;
    font-size: 3.5rem;
  }
  .container .landing h1 span {
    font-size: 1.6rem;
  }
  .container .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
    margin: 0 0 3em;
    width: 50rem;
    max-width: calc(100vw - 1em);
  }
  .container .feature h3 {
    -webkit-box-flex: 0.9;
        -ms-flex: 0.9 1;
            flex: 0.9 1;
    height: calc(100vh - 2em);
    margin: 0 1em;
  }
  .container .feature:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 800px) {
  .container .landing {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .container .landing .heroContainer {
    height: 20rem;
    width: 20rem;
  }
}

.feature {
  place-items: center;
}

.feature h3 {
  font-size: 4rem;
  margin-top: 7rem;
}

.feature .img {
  position: relative;
  width: 19.7rem;
  overflow: hidden;
  height: calc(100vh - 2em);
  border: 4px solid #777;
  border-radius: 1em;
  margin: 0 auto;
}

.imgContainer {
  position: relative;
  width: 25rem;
  height: calc(100% - 3em);
  min-width: 15rem;
}

.firebaseVsAws {
  width: 22rem;
  height: 22rem;
}

.techStack > div {
  min-height: 15rem;
  margin: 3em 0;
  border-bottom: 1px solid #dedede;
}

.text {
  margin-bottom: 1em;
}

@media screen and (min-width: 780px) {
  .firstSection .firstCol {
    text-align: center;
  }
  .firstSection .heroContainer {
    height: 17rem;
    width: 17rem;
  }
  .firstSection h1 {
    font-size: 2.5rem;
  }
  .firstSection > p {
    font-size: 1.2rem;
  }
  .firstSection .internalNavList li {
    font-size: 1.5rem;
    padding: 1.4em 0;
  }
}

.tac {
  text-align: center;
}

.col2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1em;
}

.col2 .imgContainer {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  min-height: 10rem;
}

.col2 .text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (min-width: 780px) {
  .col2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .col2 .imgContainer {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  .col2 .text {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}
/*# sourceMappingURL=babydojo.module.css.map */