@font-face {
  font-family: montserrat-medium;
  src: url("../font/montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: roboto;
  src: url("../font/roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: open-sans;
  src: url(../font/OpenSans-Regular.ttf) format("truetype");
}
* {
  box-sizing: border-box;
}
.box1,
.box2 {
  text-align: center;
  max-width: 60rem;
  padding: 1.5rem;
  position: relative;
}
.box1 div form {
  border-bottom: 1px solid #222;
}
.box1 form {
  display: grid;
  grid-template-rows: 1fr 1fr minmax(18rem, 3fr) 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "name"
    "email"
    "message"
    "send";
  border-bottom: 1.75px dashed var(--logo-color);
}
.no-border {
  border: none !important;
}

#name {
  grid-area: name;
}
#email {
  grid-area: email;
}
#message {
  grid-area: message;
}
#submit-btn {
  grid-area: send;
}

.box2 {
  padding: 1.5rem;
  position: relative;
}
.box2 form {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.box2 form .part {
  text-align: center;
}
.box1 form h2 {
  /* display: flex; */
}
.box1 form h2 div.custom-select {
  flex: 0 1 7rem;
}

.part {
  height: 5rem;
  border-bottom: 2px solid #222;
  position: relative;
}
.mini-part {
  position: relative;
}
.part input,
textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  padding-left: 0.5rem;
  color: #595f6e;
  background-color: #fff;
  padding-top: 0.5rem;
  border: none;
  outline: 0;
  resize: none;
}
.part label {
  pointer-events: none;
  margin-bottom: 0.5rem;
}
div.mini-part label {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 0.5rem;
}
.mini-part input {
  border-bottom: 2px solid #222;
}
label#message-label {
  border: none;
}
div.part label::before {
  background-color: #fff;
}
div.part label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 100%;
}

div.part input:focus + label::after {
  border-bottom: 3px solid #38b6ff;
  transition: all 0.3s ease;
}
div.part input::placeholder {
  color: #fff;
}
div.part input:focus + .label-name .label-text,
div.part input:not(:placeholder-shown) + .label-name .label-text,
div.part textarea:focus + .label-name .label-text,
div.part textarea:not(:placeholder-shown) + .label-name .label-text {
  transform: translateY(-2.7rem);
  padding-bottom: 0.25rem;
  font-size: 0.95rem;
  color: #38b6ff;
}

div.part textarea:focus + label::after {
  transition: all 0.3s ease;
}
div.part #message-label .label-text {
  padding-bottom: 0.3rem;
  transition: all 0.3s ease;
}
div#message {
  /* margin-top: 5rem; */
}

hr#message_hr {
  position: relative;
  border: 0.5px solid black;
  top: -13rem;
  z-index: 5;
  height: 1px;
}
div.part textarea:focus ~ hr#message_hr,
div.part textarea:not(:placeholder-shown) ~ hr#message_hr {
  height: 3px;
  background-color: #38b6ff;
  border: 1.5px solid #38b6ff;
  transform: translateY(12rem);
  transition: all 0.4s ease;
}

div.part textarea::placeholder {
  color: #fff;
}

div.part textarea {
  padding-top: 2rem;
  z-index: 6;
  padding-left: 0.5rem;
  color: #595f6e;
  font-size: 1.5rem;
  font-family: sans-serif;
  height: 18rem;
}

span.label-text {
  position: absolute;
  left: 0;
  bottom: 0.2rem;
  transition: all 0.3s ease;
}

h1.contact-h1 {
  color: #333;
  text-align: center;
  font-size: 5rem;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}

.mini-part#email {
  /* background-color:blue;s */
  z-index: 5;
}

#submit-btn,
#submit-btn2 {
  width: 17rem;
  z-index: 5;
  color: #38b6ff;
  background-color: #f9f9f9;
  border: 1px solid #333;
  height: 3rem;
  padding: 0.2rem;
  font-size: 2rem;
  position: relative;
  /* border: none; */
  border-radius: 0.7rem;
  margin-top: 1.5rem;
  outline: none;
  transition: all 0.32s ease;
}
#submit-btn:hover,
#submit-btn2:hover {
  transition: all 0.32s ease;
  background-color: #38b6ff;
  border: 3px solid #4dbeff;
  color: #f9f9f9;
}

.custom-select {
  width: 150px;
  position: absolute;
  right: 0.1vw;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #38b6ff;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0.5rem;
  width: 11.5rem;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 4px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box1 is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #38b6ff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 0.5rem;
}

/* Hide the items when the select box1 is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 1000px) {
  .box1 form {
    grid-template-rows: 1fr minmax(3fr, 10rem) 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name email"
      "message message"
      "send send";
    padding: 2.5rem;
    border-right: 1.5px dashed var(--logo-color);
    border-bottom: 0;
  }
  .box1 h1 {
    font-size: 5rem;
  }
}
