:root {
  --primary-color: #222433;
  --secondary-color: #474750;
  --logo-color: #38b6ff;
  --success-green: rgb(84 213 79);
  --container-width: 52rem;
  --project-card-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  scroll-behavior: smooth;
  background-color: #fff;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  font-family: "montserrat-medium", sans-serif;
}

.subheading {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  font-size: 2.5rem;
  font-weight: lighter;
}

section {
  margin-bottom: 6.7rem;
}

.container {
  max-width: var(--container-width);
  max-width: 90vw;
  margin: 0 auto;
  /* padding: 2em; */
}
header {
  max-width: 100%;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
