:root {
  --primary-color: #222433;
  --secondary-color: #474750;
  --logo-color: #f38f30;
  --success-green: rgb(84 213 79);
  --container-width: 52rem;
  --project-card-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  font-size: 1.62rem;
  font-family: "Roboto", sans-serif;
  color: #222;
  overflow-x: hidden !important;
  position: relative;
}
.container {
  position: relative;
  padding-bottom: 5rem;
  margin: 0 auto;
  overflow-x: hidden !important;
}
header {
  position: absolute;
  margin-bottom: 3em;
  top: 0;
}
section {
  margin-bottom: 3em;
}
.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100vh;
}
.logo {
  font-family: "Great Vibes", cursive;
  font-size: 1.5rem;
  margin: 0.5em;
  top: 0.5em;
  left: 0.5em;
}
h1 {
  text-align: center;
  font-size: 2.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  position: relative;
}
.that,
.convert {
  display: block;
}
.that {
  font-size: 2.2rem;
  text-transform: uppercase;
  position: absolute;
}
.hero-line {
  height: 100vh;
  width: 100vw;
  font-size: 5rem;
  font-weight: 900;
  z-index: -1;
  margin-top: -0.5em;
  /* position: absolute; */
  right: 0;
  top: 0;
  flex: 1 1 40vw;
  /* position: absolute; */
  /* background: url(../img/heading.svg); */
  background-position: center;
  background-repeat: no-repeat;
}
.desktop-hero-design {
  display: none;
}
.main-bullets {
  list-style-image: url("../img/li.svg");
  /* position: absolute; */
  bottom: 1em;
  left: 1em;
  margin-left: 2em;
  /* margin-top: -10rem; */
}
li {
  margin-bottom: 0.5em;
}
.designs {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-heading {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin-left: 0.25em;
}
.img-heading img {
  margin: 30% 0.25em 0 0;
}
.design > img {
  width: 100%;
}
/* span {
  margin-top: 50%;
} */
.contact-form {
  height: 52rem;
  background: url("../img/form-bg.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5rem;
}
.contact-form h2 {
  font-size: 1.37rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  margin-top: 2em;
}
.contact-form h2 > span {
  display: block;
}

footer {
  position: absolute;
  padding: 1em;
  color: #444;
  font-weight: normal;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2bb2f;
}
.contact {
  display: flex;
  font-size: 1.25rem;
  width: 100%;
  position: relative;
  justify-content: space-evenly;
}
.text p {
  margin-bottom: 1em;
}
.copy {
  font-weight: 200;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.contact-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

footer a {
  text-decoration: none;
  color: #444;
}

@media only screen and (min-width: 470px) {
  .contact-form h2 {
    font-size: 1.7rem;
    margin-bottom: 0.7em;
  }
  .contact-form {
    height: 54rem;
  }
}
@media only screen and (min-width: 700px) {
  .contact-logos {
    flex-direction: row;
  }
  .contact-form h2 {
    font-size: 2.5rem;
    margin-bottom: 1em;
  }
  .contact-form {
    height: 56rem;
  }

  .hero-line {
    flex: 1 1 40%;
  }
  .main-bullets {
    margin-bottom: 1em;
  }
  .desktop-hero-design {
    display: block;
    margin-left: 2em;
  }
  .design:nth-of-type(1) {
    display: none;
  }
  .desktop-hero-design > img {
    height: 60vh;
  }
  .rhs {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 40%;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .hero {
    flex-direction: row;
  }
  .svg-in {
    position: absolute;
    right: 0;
    top: 0;
  }
  svg {
    position: relative;
    display: block;
  }
  .design {
    max-width: 20vw;
    margin: 0 0.5em;
    width: 30%;
    flex: 1;
  }
  .designs {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

::-webkit-scrollbar{
  width:0.65rem;
}
::-webkit-scrollbar-thumb{
  background:#555;
  border-radius: 0.25em;
}
::-webkit-scrollbar-track{
  background:#eee;
}
::-webkit-scrollbar-thumb:hover{
  background:#444;
}

