/* Skills */
.skills-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  /* place-items: center; */
}

.skills h2 {
  grid-area: skills-heading;
  text-align: center;
}
.skill {
  flex: 1 1 27.5vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.skill img {
  max-width: 9rem;
}
#skills-heading {
  text-align: center;
}
