.container {
  color: #000;

  p {
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: medium;
  }

  .intro {
    font-family: sans-serif;
    width: 100%;
  }

  li {
    margin-bottom: 0.25em;
  }

  section {
    position: relative;

    >div>h2 {
      margin-bottom: 1rem;
    }

    >div {
      max-width: 60rem;
      margin: 0 auto;
    }
  }
}

// Main Container queries
@media screen and (min-width: 768px) {
  .container {
    section>div {
      .cols {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      h2 {
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    section>div {
      h2 {
        margin-bottom: 2rem;
      }
    }
  }
}

.sectionHeading {
  margin-bottom: 1rem;
}

.cols {
  position: relative;
}


// Section queries
@media screen and (min-width: 768px) {
  .container {
    section {
      >div>h2 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    section {
      >div>h2 {
        font-size: 3rem;
      }
    }
  }
}

// Hero
.hero {
  position: relative;
  align-items: center;
  padding: 2em 0;

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1em;

    ul {
      text-align: left;
    }
  }

  .name {
    font-weight: 800;
    margin: 0;
    font-size: 2rem;

    span {
      font-size: 2.5rem;
      background: linear-gradient(180deg, #fa0aff 0%, #0e0aff 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }

  .quicknav {
    position: relative;
    display: flex;
    gap: 0.5em;

    a {
      font-size: 1rem;
      font-weight: bold;
      border: 2px solid black;
      background: #ff0;
      padding: 0.25rem;
      display: inline-block;
      transition: transform 0.1s linear;

      &:hover {
        transform: translate(-5px, -5px);
      }
    }
  }

  .heroSocials {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-items: end;
  }

  .heroSocial {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

// Hero media queries
@media screen and (min-width: 768px) {
  .hero>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em 0;

    .text {
      margin-top: 1em;
      gap: 1.5em;
      padding: 1em;
      margin-left: 1em;
      align-items: start;
      text-align: left;
    }

    .name {
      font-size: 3rem;
      line-height: 3rem;

      span {
        font-size: 4.5rem;
      }
    }

    .desg {
      margin-left: 0.25rem;
      font-size: 1.5rem;
    }

    .quicknav {
      gap: 0.75em;
    }

    .heroSocials {
      gap: 0.5rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .hero>div {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .text {
      margin-left: 5em;
      text-align: left;
    }

    .name {
      font-size: 5rem;
      line-height: 5rem;

      span {
        font-size: 6rem;
      }
    }

    .desg {
      margin-left: 0.25rem;
      font-size: 2rem;
    }
  }
}

.pfp {
  width: 15rem;
  height: 15rem;
  margin: 0 auto 1.5em;
  position: relative;
  border: 6px solid black;

  .image {
    filter: grayscale(100%) blur(5px);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: filter 0.5s ease;
  }

  .instruction {
    border: 2px solid black;
    background: #d291f7ad;
    padding: 0.25rem;
    margin: 0.5rem auto;
    position: absolute;
    bottom: 0;
    left: 1rem;
  }

  .smiley {
    position: absolute;
    top: 2.5rem;
    left: 4rem;
    width: 7rem;
    height: 7rem;
    transition: opacity 0.4s ease;
  }

  .shadow {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #111;
    transition: top 0.3s,
      left 0.3s;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      width: 300%;
      height: 300%;
      top: -25%;
      left: -25%;
      z-index: -2;
      transform: rotate(30deg);
    }
  }

  &:hover {
    .shadow::before {
      background-image: linear-gradient(45deg, #ff0000, #ff6600, #ffcc00, #33cc33, #0099cc, #9933cc, #ff00ff);
      animation: rotateBackground 2s linear infinite;
    }

    .image {
      filter: grayscale(0%) blur(0px);
    }

    .smiley {
      opacity: 0;
    }

    .instruction {
      visibility: hidden;
    }
  }
}

// PFP media queries
@media screen and (min-width: 768px) {
  .pfp {
    width: 25rem;
    height: 25rem;

    .smiley {
      top: 5rem;
      left: 7rem;
      width: 10rem;
      height: 10rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .pfp {
    width: 30rem;
    height: 30rem;

    .smiley {
      top: 6rem;
      left: 9rem;
      width: 12rem;
      height: 12rem;
    }
  }
}

// What do I do? section
.wdid {
  background: #ff0;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: 1rem;
  }

  .intro {
    margin-bottom: 5rem;
  }

  .artGroupContainer {
    margin-top: -4rem;
    padding: 0 2rem;
    display: flex;
    width: 100%;
    max-width: 20rem;
    justify-content: center;
  }

  #artGroup1Ball {
    animation: bounce ease-in 0.5s infinite alternate;
    animation-fill-mode: both;
    fill: #404040;
  }

  .highlight {
    background: #d291f7ad;
    position: relative;
  }
}

// What do I do? section media queries
@media screen and (min-width: 768px) {
  .wdid {
    padding: 4rem;

    .artGroupContainer {
      margin-top: -4rem;
      padding-left: 2rem;
      justify-content: end;
      max-width: unset;

      svg {
        width: 20rem;
        height: 20rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .wdid {
    .artGroupContainer {
      svg {
        width: 25rem;
        height: 25rem;
      }
    }
  }
}

// Stack
.stack {
  background: #ffb2ef;
  color: black;
  padding: 2rem;

  .stackelements p {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0.25em 0.5em;
    margin: 0.25em 0.5em;
    background: #90ee90;
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    border: 2px solid black
  }
}

// Stack section media queries
@media screen and (min-width: 768px) {
  .stack {
    padding: 4rem;
  }
}

.projects {
  background: #90ee90;
  color: black;
  padding: 2rem;

  .projectPageLink {
    text-decoration: underline;
  }
}

// Projects section media queries
@media screen and (min-width: 768px) {
  .projects {
    padding: 4rem;
  }
}

@keyframes rotateBackground {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Testimonials
.testimonials {
  background: #69d2e7;
  color: black;
  padding: 2rem;
  padding-left: 3rem;

  .testimonialText {
    margin-bottom: 0.5em;
  }

  ul {
    list-style-image: url('/img/li.png');
    list-style-position: outside;
  }

  li {
    font-family: sans-serif;
    font-weight: light;
    margin-bottom: 2rem;
  }

  .client {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: underline;
    font-style: italic;
    font-size: 0.4rem;
  }
}


// Testimonials section media queries
@media screen and (min-width: 768px) {
  .testimonials {
    padding: 4rem;
  }
}

.emailLine {
  display: inline-flex;
  align-items: center;
  margin: 1em 0 1.5em;
}

.copyBtn {
  margin-left: 0.5em;
}

// Footer
.footer {
  h2 {
    margin-bottom: 1rem;
  }

  padding: 2rem;
  background: #000;
  color: white;
}

// Footer section media queries
@media screen and (min-width: 768px) {
  .footer {
    padding: 4rem;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-10rem);
  }

  100% {
    transform: translateY(0rem);
  }
}