// Project cards
.projectCard {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 15rem;
  transition: transform 0.1s linear;
  background: #fff;
  border: 2px solid black;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .projectLinks {
    display: flex;
    gap: 0.5em;
    margin: 0.5em;
    // padding: 1rem;

    >:last-child {
      margin-left: 0;
    }

    button {
      background: #000;
      border: none;
      flex-grow: 1;
    }

    a {
      flex-grow: 1;
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
      border: 2px solid black;
      background: #ff0;
      padding: 0.25rem;
      display: inline-block;
      transition: transform 0.1s linear;
      width: 100%;

      &:hover:not(:disabled) {
        transform: translate(-2px, -2px);
      }



      &:disabled {
        background: #eee;
        color: #aaa;
        border: 2px solid #aaa;
      }
    }
  }


  h3 {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  p {
    margin: 0;
  }

  .projectImage {
    position: relative;
    height: 10rem;
    width: 100%;
    overflow: hidden;
    flex-grow: 0;
  }

  .projectAbout {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;

    .projectText {
      padding: 1rem;
    }

    .projectPoints {
      margin-left: 1em;
      font-family: sans-serif;
    }
  }
}


// Projects section media queries
@media screen and (min-width: 1024px) {
  .projectCard {
    flex-direction: row;

    .projectImage {
      border-right: 1px solid #ddd;
      height: 15rem;
      width: 20rem;
    }

    .projectAbout {
      width: 10rem;
    }
  }
}