@font-face {
  font-family: HelveticaNeue;
  src: url(/fonts/HelveticaNeue.ttf);
  src: url(/fonts/HelveticaNeue.otf);
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(/fonts/HelveticaNeueLight.ttf);
}

.postTitle {
  font-family: "PT Serif", serif;
  // font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  // font-size: rem;
}

.container {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  padding: 0 0 3em;
  min-height: 100vh;
  background: #90ee90;
}

.projects {
  background: #90ee90;
  color: black;
  padding: 2rem;
  max-width: 60rem;
  margin: 0 auto;

  .projectPageLink {
    text-decoration: underline;
  }
}

// Projects section media queries
@media screen and (min-width: 768px) {
  .projects {
    padding: 4rem;
  }
}

@keyframes rotateBackground {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.coverImgContainer {
  position: relative;
  height: 10rem;
  width: 100%;
  max-width: calc(100vw - 2rem);
  // border-radius: 0.5em 0.5em 0 0;
  overflow: hidden;
}

.resume {
  width: 60rem;
  background: #2974ff;
  border-radius: 1em;
}