.container {
  color: #000;

  p {
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: medium;
  }

  .intro {
    font-family: sans-serif;
    font-size: 1.2rem;
    width: 100%;
  }

  ul {
    margin-bottom: 1em;
  }

  li {
    margin-bottom: 0.25em;
  }

  section {
    position: relative;

    >h2 {

      margin-bottom: 1rem;
    }

    // max-width: calc(100vw - 2em);
  }
}

// Main Container queries
@media screen and (min-width: 768px) {
  .container {
    section {
      .cols {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      h2 {
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    section {
      h2 {
        margin-bottom: 2rem;
      }
    }
  }
}

.sectionHeading {
  margin-bottom: 1rem;
}

.cols {
  position: relative;
}


// Section queries
@media screen and (min-width: 768px) {
  .container {
    section {
      >h2 {
        font-size: 2rem;
        // margin-bottom: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    section {
      >h2 {
        font-size: 3rem;
        // margin-bottom: 2rem;
      }
    }
  }
}

// Hero
.hero {
  position: relative;
  align-items: center;

  .text {
    text-align: center;
  }

  .name {
    font-weight: 800;
    margin: 0;
    margin-top: -0.7em;
    font-size: 2rem;

    span {
      font-size: 2.5rem;
      background: linear-gradient(180deg, #fa0aff 0%, #0e0aff 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }

  .desg {
    margin-bottom: 1rem;
  }
}

// Hero media queries
@media screen and (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .text {
      font-size: 1.5rem;
      margin-left: 1em;
      text-align: left;
    }

    .name {
      font-size: 3rem;

      span {
        font-size: 4.5rem;
      }
    }

    .desg {
      margin-left: 0.25rem;
      font-size: 1.5rem;
    }
  }

}

@media screen and (min-width: 1024px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .text {
      font-size: 2rem;
      margin-left: 2em;
      text-align: left;
    }

    .name {
      font-size: 6rem;

      span {
        font-size: 6rem;
      }
    }

    .desg {
      margin-left: 0.25rem;
      font-size: 2rem;
    }
  }

}

.pfp {
  width: 15rem;
  height: 15rem;
  margin: 1em auto;
  position: relative;
  margin-bottom: 3rem;
  border: 12px solid black;

  .image {
    filter: grayscale(100%) blur(5px);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: filter 0.5s ease;
  }

  .smiley {
    position: absolute;
    top: 2.5rem;
    left: 4rem;
    width: 7rem;
    height: 7rem;
    transition: opacity 0.4s ease;
  }

  .shadow {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #111;
    transition: top 0.3s,
      left 0.3s;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      width: 300%;
      height: 300%;
      top: -25%;
      left: -25%;
      z-index: -2;
      transform: rotate(30deg);
    }
  }

  &:hover {
    .shadow::before {
      background-image: linear-gradient(45deg, #ff0000, #ff6600, #ffcc00, #33cc33, #0099cc, #9933cc, #ff00ff);
      animation: rotateBackground 2s linear infinite;
    }

    .image {
      filter: grayscale(0%) blur(0px);
    }

    .smiley {
      opacity: 0;
    }
  }
}

// PFP media queries
@media screen and (min-width: 768px) {
  .pfp {
    width: 20rem;
    height: 20rem;

    .smiley {
      top: 4rem;
      left: 6rem;
      width: 8rem;
      height: 8rem;
      transition: opacity 0.4s ease;
    }
  }
}

@media screen and (min-width: 1024px) {
  .pfp {
    width: 30rem;
    height: 30rem;

    .smiley {
      top: 6rem;
      left: 9rem;
      width: 12rem;
      height: 12rem;
      transition: opacity 0.4s ease;
    }
  }
}

// What do I do? section
.wdid {
  background: #ff0;
  padding: 2rem;

  p {
    margin-bottom: 1rem;
  }

  .intro {
    margin-bottom: 5rem;
  }

  .artGroupContainer {
    margin-top: -4rem;
    padding: 0 2rem;
    display: flex;
    width: 100%;
    max-width: 20rem;
    justify-content: center;
  }

  #artGroup1Ball {
    animation: bounce ease-in 0.5s infinite alternate;
    animation-fill-mode: both;
    fill: #404040;
  }

  .highlight {
    background: #d291f7ad;
    position: relative;
  }
}

// What do I do? section media queries
@media screen and (min-width: 768px) {
  .wdid {
    padding: 4rem;

    .artGroupContainer {
      margin-top: -4rem;
      padding-left: 2rem;
      justify-content: end;
      max-width: unset;

      svg {
        width: 20rem;
        height: 20rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .wdid {
    padding: 7rem;

    .artGroupContainer {
      svg {
        width: 25rem;
        height: 25rem;
      }
    }
  }
}

// Stack
.stack {
  background: #ffb2ef;
  color: black;
  padding: 2rem;

  .stackelements p {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0.25em 0.5em;
    margin: 0.25em 0.5em;
    background: #ff0;
    color: black;
    font-weight: bold;
    border: 2px solid black
  }
}

// Stack section media queries
@media screen and (min-width: 768px) {
  .stack {
    padding: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .stack {
    padding: 7rem;
  }
}


.projects {
  background: #90ee90;
  color: black;
  padding: 2rem;
}

// Projects section media queries
@media screen and (min-width: 768px) {
  .projects {
    padding: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .projects {
    padding: 7rem;
  }
}

// Project cards
.projectCard {
  width: 100%;
  position: relative;
  min-height: 8rem;
  transition: transform 0.1s linear;
  margin-bottom: 1rem;

  padding: 1rem;
  min-height: 8rem;
  background: #fff;
  border: 3px solid #000;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 0px 0px #000;

  &:hover {
    transform: translate(-5px, -5px);
  }

  h4 {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  p {
    margin: 0;
  }
}


@keyframes rotateBackground {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Testimonials
.testimonials {
  background: #69d2e7;
  color: black;
  padding: 2rem;
  padding-left: 3rem;

  ul {
    list-style-image: url('/img/li.png');
    list-style-position: outside;
  }

  li {
    font-weight: light;
    margin-bottom: 1rem;
  }
}


// Testimonials section media queries
@media screen and (min-width: 768px) {
  .testimonials {
    padding: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .testimonials {
    padding: 7rem;
  }
}

.emailLine {
  display: inline-flex;
  align-items: center;
}

.copyBtn {
  margin-left: 0.5em;
}

// Footer
.footer {
  h2 {
    margin-bottom: 1rem;
  }

  padding: 2rem;
  background: #000;
  color: white;

  p {
    margin-bottom: 1rem;
  }
}

// Footer section media queries
@media screen and (min-width: 768px) {
  .footer {
    padding: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 7rem;
  }
}


@keyframes bounce {
  0% {
    transform: translateY(-10rem);
  }

  100% {
    transform: translateY(0rem);
  }
}