.container {
  width: 60rem;
  max-width: calc(100vw - 2em);
  margin: 0 auto 3em;
  color: #333;

  .intro {
    font-family: sans-serif;
    font-size: 1.2rem;
    // margin: 1em;
    width: 100%;
  }

  ul {
    margin-bottom: 1em;
  }

  li {
    margin-bottom: 0.25em;
  }

  a {
    // text-decoration: underline;
    // font-weight: bold;
  }

  section {
    position: relative;
    margin-bottom: 3em;
    max-width: calc(100vw - 2em);
  }
}

// Main Container queries
@media screen and (min-width: 768px) {
  .container {
    section {
      .cols {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

.sectionHeading {
  margin-bottom: 1rem;
}

.cols {
  position: relative;
}


// Section queries
@media screen and (min-width: 768px) {
  .container {
    section {
      >h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    section {
      >h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
    }
  }
}

// Hero
.hero {
  position: relative;
  align-items: center;
  // padding-bottom: 7rem;

  .text {
    text-align: center;
  }

  .name {
    font-weight: 800;
    margin: 0;
    margin-top: -0.7em;
    font-size: 2rem;

    span {
      font-size: 2.5rem;
      background: linear-gradient(180deg, #fa0aff 0%, #0e0aff 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }
}

// Hero media queries
@media screen and (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .text {
      font-size: 1.5rem;
      margin-left: 1em;
      text-align: left;
    }

    .name {
      font-size: 3rem;

      span {
        font-size: 4.5rem;
      }
    }

    .desg {
      margin-left: 0.25rem;
    }
  }

}

@media screen and (min-width: 1024px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .text {
      font-size: 2rem;
      margin-left: 2em;
      text-align: left;
    }

    .name {
      font-size: 4rem;

      span {
        font-size: 5.5rem;
      }
    }

    .desg {
      margin-left: 0.25rem;
    }
  }

}

.pfp {
  width: 15rem;
  height: 15rem;
  margin: 1em auto;
  position: relative;
  margin-bottom: 3rem;

  .image {
    filter: grayscale(100%) blur(5px);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: filter 0.5s ease;
  }

  .smiley {
    position: absolute;
    top: 2.5rem;
    left: 4rem;
    width: 7rem;
    height: 7rem;
    transition: opacity 0.4s ease;
  }

  .shadow {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgb(8, 8, 8);
    transition: top 0.3s,
      left 0.3s;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      width: 150%;
      height: 150%;
      top: -25%;
      left: -25%;
      z-index: -2;
      transform: rotate(30deg);
    }
  }

  &:hover {
    .shadow::before {
      background-image: linear-gradient(45deg, #ff0000, #ff6600, #ffcc00, #33cc33, #0099cc, #9933cc, #ff00ff);
      animation: rotateBackground 2s linear infinite;
    }

    .image {
      filter: grayscale(0%) blur(0px);
    }

    .smiley {
      opacity: 0;
    }
  }
}

// PFP media queries
@media screen and (min-width: 768px) {
  .pfp {
    width: 20rem;
    height: 20rem;

    .smiley {
      top: 4rem;
      left: 6rem;
      width: 8rem;
      height: 8rem;
      transition: opacity 0.4s ease;
    }
  }
}

@media screen and (min-width: 1024px) {
  .pfp {
    width: 30rem;
    height: 30rem;

    .smiley {
      top: 6rem;
      left: 9rem;
      width: 12rem;
      height: 12rem;
      transition: opacity 0.4s ease;
    }
  }
}

// What do I do? section
.wdid {
  p {
    margin-bottom: 1rem;
  }

  .intro {
    margin-bottom: 5rem;
  }

  .artGroupContainer {
    margin-top: -4rem;
    padding: 0 2rem;
    display: flex;
    width: 100%;
    max-width: 20rem;
    justify-content: center;
  }

  #artGroup1Ball {
    animation: bounce ease-in 0.5s infinite alternate;
    animation-fill-mode: both;
    fill: #404040;
  }

  .highlight {
    background: #d291f7ad;
    position: relative;
  }
}

// What do I do? section media queries
@media screen and (min-width: 768px) {
  .wdid {
    .artGroupContainer {
      margin-top: -4rem;
      padding-left: 2rem;
      justify-content: end;
      max-width: unset;

      svg {
        width: 20rem;
        height: 20rem;
      }
    }
  }
}

// Project cards
.projectCard {
  width: 100%;
  position: relative;
  // height: 8rem;
  transition: transform 0.1s linear;
  margin-bottom: 1rem;

  .card {
    padding: 1rem;
    // height: 8rem;
    background: #fff;
    border: 1px solid #2e2e2e;
    margin-bottom: 1rem;
  }

  h4 {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  p {
    margin: 0;
  }

  .shadow {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgb(8, 8, 8);
    transition: top 0.3s,
      left 0.3s;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      width: 200%;
      height: 1500%;
      top: -100%;
      left: -50%;
      z-index: -2;
      transform: rotate(30deg);
    }
  }

  &:hover {
    transform: translate(-5px, -5px);

    .shadow::before {
      background-image: linear-gradient(45deg, #ff0000, #ff6600, #ffcc00, #33cc33, #0099cc, #9933cc, #ff00ff);
      animation: rotateBackground 5s linear infinite;
    }
  }
}


@keyframes rotateBackground {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.stack {
  .stackelements p {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0.25em 0.5em;
    margin: 0.25em 0.5em;
    background: #efefef;
    font-weight: bold;
    // border-radius: 1rem;
  }
}

.testimonials {
  p {
    font-style: italic;
    margin-bottom: 1rem;
  }
}

.emailLine {
  display: inline-flex;
  align-items: center;
}

.copyBtn {
  margin-left: 0.5em;
}



@keyframes bounce {
  0% {
    transform: translateY(-10rem);
  }

  100% {
    transform: translateY(0rem);
  }
}