.container {
  font-family: "Montserrat", sans-serif;
  color: #222;
  width: 50rem;
  max-width: calc(100vw - 2em);
  // padding: 1em;
  margin: 0 auto;
  overflow-x: hidden;

  .img {
    height: 85vh;
    width: calc(100vw - 3em);
    max-height: 100vh;
    max-width: calc(100vw - 2em);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 0.25em;
  }

  .landing {
    font-size: 1.5rem;
    text-transform: uppercase;
    position: relative;
    background: url("/img/portfolio/air3x3/hero.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    margin-top: -3.6em;

    h1 {
      // margin: 5em 2em 0;
      position: absolute;
      bottom: 0em;
      left: 0.5em;
      width: 20rem;
      span {
        display: block;

        text-transform: none;
        color: #dd700c;
        font-size: 1.2rem;
      }
    }
  }
  h2 {
    text-transform: uppercase;
    color: #444;
    font-size: 1.5rem;
    text-align: center;
  }
  h3 {
    font-size: 1.25rem;
    text-align: center;
  }

  .features {
    .feature {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: space-evenly;
      margin-bottom: 1em;
      padding: 0.55em;
    }
  }
  @media screen and (min-width: 750px) {
    .landing {
      h1 {
        bottom: 3em;
        font-size: 3.5rem;
        span {
          font-size: 1.6rem;
        }
      }
    }
    .feature {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      margin: 0 0 3em;
      height: 20rem;
      width: 50rem;
      max-width: calc(100vw - 1em);
      h3 {
        // width: 30rem;
        flex: 0.9 1;
        margin: 0 1em;
      }
      .img {
        height: 90%;
        width: 30rem;
        // flex: 1;
      }
    }
    .feature:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }
  @media screen and (min-width: 800px) {
    .landing {
      display: flex;
      // flex-direction: row;
    }
  }
}
