.navAndComponentContainer {
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100vh;
  transition: background 0.25s ease-in;

  &.dark {
    background: #393353;
    color: white;
  }
}