.navContainer {
  border-right: 1px solid #777;
  width: 20rem;
  .navTab {
    cursor: pointer;
    padding: 0.5em;
    &:hover {
      background: #393353;
    }
  }
}
.reactLogo {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
}
