.featured {
  width: calc(100% - 3em);
  height: 22rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 1em;
  margin: 1em auto;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  background: #282c34;
  // background: #192e57;
  color: white;
  overflow: hidden;

  h1 {
    font-size: 2.2em;
    color: #61dafb;
  }

  h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin-top: -0.7em;
  }

  .text {
    padding: 1.5rem;
  }
  .imgContainer {
    overflow: hidden;
  }
  .image {
    position: relative;
    height: 22rem;
    width: 24.7rem;
    margin: 2rem 2rem 0;
    top: 3rem;
    animation: like 30s 3s infinite linear;
  }

  button {
    padding: 0.5em 0.7em;
    font-size: 1.1rem;
    color: #333;
    background: #61dbfb;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
  }

  @media screen and (min-width: 700px) {
    width: 36.5rem;
  }
  @media screen and (min-width: 1100px) {
    h1 {
      font-size: 2.9em;
    }
    width: 55rem;
  }
}

@keyframes like {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  .image {
    animation: like 200s 3s infinite linear;
  }
}
