.gameName {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
  margin: 0;
  &:hover {
    animation: hue 1s infinite linear;
  }
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}
