@font-face {
  font-family: HelveticaNeue;
  src: url(/fonts/HelveticaNeue.ttf);
  src: url(/fonts/HelveticaNeue.otf);
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(/fonts/HelveticaNeueLight.ttf);
}

.postTitle {
  font-family: "Noto Serif", serif;
  font-size: 1.5rem;
}
.container {
  font-family: "Helvetica Neue", sans-serif;
}
