.container {
  font-family: "Helvetica Neue", sans-serif;

  .postTitle,
  h1,
  h2,
  h3 {
    font-family: "Fira Code", monospace;
    color: #393353;
    // font-size: 1.5rem;
  }
  .heading {
    text-transform: uppercase;
    font-size: 4rem;
    color: #393353;
    font-family: sans-serif;
  }
}
