.imgContainer {
  padding: 1em;
  text-align: center;
  font-weight: bold;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  height: 25rem;
  width: 25rem;
  border: 4px solid #333;

  &.square {
    border-radius: 2.25em;
  }
  &.circle {
    border-radius: 50%;
  }

  &.small {
    height: 5rem;
    width: 5rem;
  }
}
