* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Fira Code", monospace;
  scroll-behavior: smooth;
  cursor:
    url(/img/cursor.png) 5 2,
    auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  cursor: url(/img/handcursor.png) 9 5,
    pointer;
}

h1,
h2,
h3,
p {
  cursor: url(/img/cursor-text.png), text;
}

blockquote {
  background: #efefef;
  padding: 0.5em;
}

.fp-watermark {
  display: none;
}